* {
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}

.bug {
  background-color: #a8b820;
}

.dark {
  background-color: #705848;
}

.dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background-color: #53a4cf;
}

.electric {
  background-color: #fefd43;
  color: black;
}

.fairy {
  background-color: #ffb7f2;
  color: black;
}

.fighting {
  background-color: #c03028;
}

.fire {
  background-color: #fd7d24;
}

.flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background-color: #3dc7ef;
  color: black;
}

.ghost {
  background-color: #a135d3;
}

.grass {
  background-color: #78c850;
  color: black;
}

.ground {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  background-color: #f7de3f;
  color: black;
}

.ice {
  background-color: #98d8d8;
  color: black;
}

.normal {
  background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
  background-color: #a4acaf;
  color: black;
}

.poison {
  background-color: #a040a0;
}

.psychic {
  background-color: #f85888;
}

.rock {
  background-color: #b8a038;
}

.steel {
  background-color: #b8b8d0;
  color: black;
}

.water {
  background-color: #6890f0;
}
